<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>

    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body>



      <%= yield %>

    <div id= "footer">
      <div class="container">
        <div class="row">
          <h3 class="text-center">Restez connecté </h3>
          <div class="col-xs-12 col-sm-6">
           <a href="">
            <i class="fa fa-youtube-square"></i>
            </a>
            <a href="">
            <i class="fa fa-instagram"></i>
            </a>
            <a href="">
            <i class="fa fa-facebook-square"></i>
            </a>
             <a href="">
            <i class="fa fa-twitter-square"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
